# raw data
star/
data/derived/
data/derived/*
!data/derived/metadata/
!data/derived/metadata/*

reference/

# R junk
.Rhistory
.RData
.Rproj.user/
.RDataTmp*
.RData
.Rhistory
.~lock*
github_token
mouse_splicing_token
